.video-js button.vjs-my-button {
  background: #ff0;
  width: 100px;
  height: 25px;
  background: #ff0;
  position: absolute;
  left: 0%;
  top: 90%;
  display: block;
}

.video-js button.vjs-my-button-pause {
  background: #f00;
}